
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.clearfix:after {
    clear: both;
}


a {
    text-decoration: none;
}
/* Header Style */
.main,
.container > header {
    margin: 0 auto;
    padding: 2em;
}

.container {
    height: 100%;
    display: block;
}

/* Demo Styles */
.demo-4 body {
    color: #999;
    background: #fff2e3;
    overflow: scroll;
}

.demo-4 a {
    color: #1baede;
}

.demo-4 a:hover,
.demo-4 a:active {
    opacity: 0.6;
}

.demo-4 .codrops-demos a {
    background: #1baede;
    color: #fff;
}

@media screen and (max-width: 25em) {

    .codrops-icon span {
        display: none;
    }

}
