body {
    background-color: ghostwhite;
    background-repeat: no-repeat;
    background-size: cover;
}

#portfolio {
    position: relative;
    display: block;
    top: 50px;
}

#profilebody {
    height: auto;
    display: block;
}


#backgroundimg {
    position: relative;
    top: 0;
    width: 100%;
    height: 800px;
    z-index: 0;
    display: block;
}

#career {
    position: relative;
    top: 30px;
    left: 5%;
    display: block;
    margin-right: 5%;
}

.container {
    position: relative;
    top: 50px;
    display: block;
}

#history {
    width: 30%;
    height: auto;
    position: relative;
    float: left;
    display: inline-block;
}


#historytop {
    font-size: 25px;
}

#skills {
    position: relative;
    width: 65%;
    display: inline-block;
    border-left: 1px solid gray;
    padding-left: 20px;
}

#skills img {
    width: 80px;
    height: 70px;
    border-width: 7px;
    border-style: outset;
}

.skill_title {
    font-size: 25px;
}

.skilldiv {
    width: 90px;
    height: 90px;
    margin: 15px;
    display: inline-block;
}

.skilldiv p {
    text-align: center;
    margin-top: -5px;
}

#toptext {
    position: absolute;
    color: black;
    left: 50%;
    margin-left: -25%;
    font-size: 3vw;
    z-index: 1;
}

#project {
    position: relative;
    top: 50px;
    background-color: blanchedalmond;
    padding: 20px;
}

#projecttitle {
    text-align: center;
}

#topbody {
    height: auto;
    scroll-snap-type: inline;
}

#maintext {
    height: 350px;
    width: 80%;
    top: 10vw;
    position: absolute;
    left: 10%;
    word-break: break-all;
}

#profilepicture {
    float: left;
    padding-right: 20px;
    width: 300px;
    height: 350px;
}
#project div{
    border: 1px solid black;
    display: inline-block;
    width: 30%;
    height: 300px;
    margin: 20px;
}

#canvas {
    position: absolute;
    top: 500px;
}

.icon {
    width: 25px;
    height: 25px;
}

#contact {
    position: relative;
    top: -7px;
}

@media (max-width: 768px) {
    #maintext {
        font-size: 12px;
    }

    #profilepicture {
        width: 150px;
        height: 200px;
    }

    #backgroundimg {
        height: 400px;
    }

}
